.divider {
  width: 100%;
  height: 6px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-open-cardbox {
  height: 40px;
}
.boxitem {
  height: 300px;
}
.badge-sharkme {
  background-color: #3a96bb;
  color: white;
  font-size: 14px !important;
}
.cardbox-btn-group {
  position: absolute;
  bottom: 20px;
  border: none !important;
  border-color: #fff !important;
}
